# Directory navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"

# Logs
alias tf="tail -f"

# Chef
alias lc="librarian-chef"

# Vagrant
alias vu="vagrant up"
alias vp="vagrant provision"
alias vr="vagrant reload"
alias vh="vagrant halt"
alias vd="vagrant destroy"
alias vs="vagrant ssh"

# Docker
alias dc="docker-compose"
